*{
    margin:0;
    padding:0;
}

.navbar
{
background-color:#FFAB5B;
height: auto;
text-align:right;
height:100px;
}
.navitem
{
font-size:32px;
color: white;
text-align: center;
text-decoration: none;
}
.heading
{
text-align: center;

}
.home
{
min-height: 100vh;
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
align-items: center;
position: relative;
margin-top:0px;
}
.content
{
    padding-right: 30px;
}
.home .content
{
flex: 1 1 40rem;
padding-top: 6.5rem;
}

.home .content h3
{
font-size: 6rem;
color: var(--black);
}

.home .content h3 span
{
color: var(--orange);
filter: drop-shadow(10px 10px 30px #e28605);
}
.image
{
    height: 500px;
}
.home .content p
{
font-size: 1.7rem;
color: var(--light-color);
line-height: 1.8;
padding: 1rem 0;
}

.home .image
{
flex: 1 1 40rem;
}

.home .image img
{
width:90%;
height:50%;
padding-left:10px;

}
.btn{
font-size: 1.7rem;
margin-top: 1rem;
display: inline-block;
padding: .8rem 3rem;
border-radius: .5rem;
border: .2rem solid var(--orange);
color: var(--orange);
background: none;
cursor: pointer;
}
.btn:hover{
background: var(--orange);
color: var(--white);
}
.about{
background:#E52020;

}

.about .row{
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 2rem;

}

.about .row .image{
flex: 1 1 50rem;
height:430px;
width: 389px;
}

.about .row .image img{
width: 100%;
height: 100%;
filter: drop-shadow(8px 8px 30px #f79df7);
}

.about .row .content{
flex: 1 1 40rem;
color:white;
}

.about .row .content h3{
font-size:46px;
color:white;
line-height: 1.5;
}
.about .row .content p{
font-size: 1.4rem;
color:white;
padding: 1rem 0;
line-height: 2;
}
.footer{
background-color:black;
height:600px;
width:2020px;
padding-right: 80px;

}
.imgf
{
    height:500px;
    width:400px;
}
.footer .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
gap: 1.5rem;
}

.footer .box-container .box h3{
font-size: 2.2rem;
color:orange;
padding: 1rem 0;
}
.footer .box-container #social-media h3{
font-size: 2.2rem;
color:orange;
padding: 1rem 0;
}

.footer .box-container .box p
{
font-size: 1.5rem;
color:white;
padding: 1rem 0;
line-height: 2;
}

.footer .box-container .box a
{
display: block;
font-size: 1.4rem;
color:white;
padding: 1rem 0;
text-decoration: none;
}
.footer .box-container #social-media a{

margin-right: 10px;
margin-top: 80px;
border-radius: 50%;
}
.footer .box-container #social-media img:hover{
height: 50px;
background-color:#ee931c;
border-radius: 50%;
padding: 3px;
}

.footer .box-container .box a:hover{
color:orange;
}

.footer .box-container .box a i{
padding-right: .5rem;
color:orange;
}

.footer .credit{
margin-top: 2.5rem;
padding: 2px;
padding-top: 2rem;
border-top: .1rem solid rgba(0,0,0,.3);
text-align: center;
color:white;
font-size:40px;
}

.footer .credit span{
color:orange;
}
.footer .box-container #social-media{
display:inline-block;

}
#text {
margin-top: 0%;
color:#ff3399;
font-family:rutu;
font-size: 40px;
margin-left:20px;
}
.box
{
    color: white;
    font-size:30px;
    margin-top: 116px;
}
.box1
{
    margin-top :116px; 
}
.credit
{
    background-color: black;
    width: 2200px;
    padding-bottom: 14px;
}